@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Noto Sans, sans-serif;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #201B2C;
        border-radius: 30px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: lightgreen;
        border-radius: 30px;
        visibility: visible;
    }
}

@layer utilities {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

@layer components {

    header a, #links-container {
        transition: all .3s linear;
    }

    header a::after {
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s;
    }

    header a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    main button:hover, 
    main button:not(:hover), 
    footer a,
    footer a::after {
        transition: all 1s linear;
    }

    footer a::after {
        box-shadow: 0 0 0 3px #FFFFFF;
    }

    footer a:hover::after {
        opacity: 1;
        transform: scale(1.15);
    }
}